In [86]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk
%matplotlib inline
import datetime
import os
import seaborn as sns
from pandas import ExcelWriter
from pandas import ExcelFile

In [56]:
df_location=pd.read_csv('geocodedData added and fixed987___with_location.csv')
df_unit=pd.read_excel("Rental Survey Data 2017 Raw Units.xlsx")
df_facility=pd.read_excel("tblFacilitiesFY2015.xlsx")

## Merge the tables

In [57]:
unit_facility=pd.merge(df_facility, df_location, on = 'LicenseNumber', how = 'inner')

In [69]:
unit_facility.shape

(826, 22)

In [68]:
df_facility.shape

(811, 18)

In [70]:
df_location.shape

(1092, 5)

In [65]:
units=pd.merge(df_unit, unit_facility, on = 'LicenseNumber', how = 'inner')

In [71]:
units.shape

(122926, 34)

In [72]:
df_unit.shape

(127413, 13)

In [73]:
units.head()

,Survey Year,RentRateSurveyID,LicenseNumber,UnitDataId,UnitNumber,Bedrooms,CurrentRent,RentRange,Vacant,TurnOver,...,EfficiencyRentIncrease,1BedRentIncrease,2BedRentIncrease,3BedRentIncrease,4BedRentIncrease,Address,Matched Address,X Coordinate,Y Coordinate,Source
0,2017-01-01,NaN,17314,NaN,1,3,1600,NaN,N,NaN,...,NaN,NaN,NaN,NaN,NaN,"8003 Greenwood Ave, Takoma Park, MD 20912","8003 GREENWOOD AVE, TAKOMA PARK, MD, 20912",-77.000177,38.989749,L%R
1,2017-01-01,NaN,17314,NaN,2,2,0,NaN,N,NaN,...,NaN,NaN,NaN,NaN,NaN,"8003 Greenwood Ave, Takoma Park, MD 20912","8003 GREENWOOD AVE, TAKOMA PARK, MD, 20912",-77.000177,38.989749,L%R
2,2017-01-01,NaN,17314,NaN,3,2,1500,NaN,N,NaN,...,NaN,NaN,NaN,NaN,NaN,"8003 Greenwood Ave, Takoma Park, MD 20912","8003 GREENWOOD AVE, TAKOMA PARK, MD, 20912",-77.000177,38.989749,L%R
3,2017-01-01,NaN,17341,NaN,1,2,1725,NaN,N,NaN,...,NaN,NaN,NaN,NaN,NaN,"8208 Greenwood Ave, Takoma Park, MD 20912","8208 GREENWOOD AVE, TAKOMA PARK, MD, 20912",-77.001016,38.991913,L%R
4,2017-01-01,NaN,17341,NaN,2,2,1250,NaN,N,NaN,...,NaN,NaN,NaN,NaN,NaN,"8208 Greenwood Ave, Takoma Park, MD 20912","8208 GREENWOOD AVE, TAKOMA PARK, MD, 20912",-77.001016,38.991913,L%R

## Writhe to CSV

In [237]:
units.to_csv('Units_location.csv')

## After data geo processing in ArcGIS,import the data

In [299]:
units=pd.read_csv('units_new_3.csv',encoding='latin-1')

C:\Users\pengq\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,1,5,27,29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [239]:
units.head()

,FID_Units,Field1,LicenseNum,UnitNumber,Bedrooms,CurrentRen,RentRange,Vacant,TurnOver,OccupiedDa,...,LaundryInc,UtilitiesI,X_Coordina,Y_Coordina,old_metro_,new_metro_,hos_dis,shop_dis,bus_dis,Police_DIST
0,12657,12657,17517,6366,Two,1950,NaN,N,NaN,1/1/2013,...,Y,N,-77.121828,38.942254,4783.805140,4783.805140,1558.55,1140.748014,1558.55,2
1,12658,12658,17517,6368,Two,1975,NaN,N,NaN,1/1/1999,...,Y,N,-77.121828,38.942254,4783.805140,4783.805140,1558.55,1140.748014,1558.55,2
2,12659,12659,17517,6370,Two,2025,NaN,N,NaN,1/1/2003,...,Y,N,-77.121828,38.942254,4783.805140,4783.805140,1558.55,1140.748014,1558.55,2
3,116999,116999,18225,6301-01,One,1191,NaN,Y,NaN,NaN,...,Y,Y,-77.118381,38.945242,4238.007154,4238.007154,1418.95,690.244207,1418.95,2
4,117000,117000,18225,6301-02,Two,1412,NaN,Y,NaN,NaN,...,Y,Y,-77.118381,38.945242,4238.007154,4238.007154,1418.95,690.244207,1418.95,2

In [300]:
units.dtypes

FID_Units       object
Field1          object
LicenseNum       int64
UnitNumber      object
Bedrooms        object
CurrentRen      object
RentRange      float64
Vacant          object
TurnOver       float64
OccupiedDa      object
Real_Turno      object
DeletedInd      object
FacilityId       int64
FacilityNa      object
Zip              int64
City            object
StructureT      object
Age              int64
AgeGroup        object
Program         object
Amenities       object
LaundryInc      object
UtilitiesI      object
X_Coordina     float64
Y_Coordina     float64
old_metro_     float64
new_metro_     float64
hos_dis         object
shop_dis       float64
bus_dis         object
Police_DIST     object
dtype: object

In [301]:
units=units.drop(['FID_Units','Field1','RentRange','DeletedInd','FacilityNa', 'Zip','City','TurnOver','OccupiedDa','Real_Turno','AgeGroup'], axis=1)

In [302]:
units.columns

Index(['LicenseNum', 'UnitNumber', 'Bedrooms', 'CurrentRen', 'Vacant',
       'FacilityId', 'StructureT', 'Age', 'Program', 'Amenities', 'LaundryInc',
       'UtilitiesI', 'X_Coordina', 'Y_Coordina', 'old_metro_', 'new_metro_',
       'hos_dis', 'shop_dis', 'bus_dis', 'Police_DIST'],
      dtype='object')

In [286]:
units.head()

,LicenseNum,UnitNumber,Bedrooms,CurrentRen,Vacant,FacilityId,StructureT,Age,Program,Amenities,LaundryInc,UtilitiesI,X_Coordina,Y_Coordina,old_metro_,new_metro_,hos_dis,shop_dis,bus_dis,Police_DIST
0,17517,6366,Two,1950,N,459,G,83,NaN,N,Y,N,-77.121828,38.942254,4783.805140,4783.805140,1558.55,1140.748014,1558.55,2
1,17517,6368,Two,1975,N,459,G,83,NaN,N,Y,N,-77.121828,38.942254,4783.805140,4783.805140,1558.55,1140.748014,1558.55,2
2,17517,6370,Two,2025,N,459,G,83,NaN,N,Y,N,-77.121828,38.942254,4783.805140,4783.805140,1558.55,1140.748014,1558.55,2
3,18225,6301-01,One,1191,Y,460,G,60,HIF,Y,Y,Y,-77.118381,38.945242,4238.007154,4238.007154,1418.95,690.244207,1418.95,2
4,18225,6301-02,Two,1412,Y,460,G,60,HIF,Y,Y,Y,-77.118381,38.945242,4238.007154,4238.007154,1418.95,690.244207,1418.95,2

In [287]:
units.isnull().sum()

LicenseNum         0
UnitNumber         7
Bedrooms           0
CurrentRen         0
Vacant             0
FacilityId         0
StructureT         0
Age                0
Program        53656
Amenities          0
LaundryInc         0
UtilitiesI         0
X_Coordina         0
Y_Coordina         0
old_metro_         0
new_metro_         0
hos_dis            0
shop_dis           0
bus_dis            0
Police_DIST        0
dtype: int64

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [303]:
 units['Program'].fillna('NON', inplace=True)

## Feature generating

In [304]:
# those features have few labels. We can one hot encoding these features in future feature engineering.
# let us first do a barplot on those features
ohe_feats = units[['Bedrooms', 
             'Vacant', 
             'StructureT', 
             'Program', 
             'Amenities', 
             'LaundryInc', 
             'UtilitiesI' ,'Police_DIST']]

In [305]:
from sklearn import preprocessing
from IPython import display

In [194]:
# ohe_feats.loc[ohe_feats["Bedrooms"] =='0']='zero'
# ohe_feats.head()

C:\Users\pengq\Anaconda3\lib\site-packages\pandas\core\ops.py:798: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [306]:
data_dummies=pd.get_dummies(ohe_feats,drop_first=True)

,Bedrooms_One,Bedrooms_Other,Bedrooms_Three,Bedrooms_Two,Bedrooms_Zero,Vacant_Y,StructureT_H,StructureT_M,StructureT_T,StructureT_X,...,Program_S8 TC OTH OV HOME,Program_TC,Program_TC AR,Program_TC HIF,Program_TC HOME,Program_TC OTH OV,Program_TC OTH OV AR,Amenities_Y,LaundryInc_Y,UtilitiesI_Y
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
4,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1

In [314]:
data.columns

Index(['LicenseNum', 'UnitNumber', 'CurrentRen', 'FacilityId', 'Age',
       'UtilitiesI', 'X_Coordina', 'Y_Coordina', 'old_metro_', 'new_metro_',
       'hos_dis', 'shop_dis', 'bus_dis', 'Police_DIST', 'Bedrooms_One',
       'Bedrooms_Other', 'Bedrooms_Three', 'Bedrooms_Two', 'Bedrooms_Zero',
       'Vacant_Y', 'StructureT_H', 'StructureT_M', 'StructureT_T',
       'StructureT_X', 'Program_AR HOME', 'Program_BM', 'Program_HIF',
       'Program_HOME', 'Program_MPDU', 'Program_MPDU OTH OV',
       'Program_MPDU S8', 'Program_MPDU TC', 'Program_MPDU TC AR HOME',
       'Program_MPDU TC OTH OV', 'Program_MPDU TC OTH OV AR',
       'Program_MPDU TC WF', 'Program_MPDU WF', 'Program_NON',
       'Program_OTH OV', 'Program_OTH OV HIF', 'Program_OTH OV HOME',
       'Program_PH', 'Program_PH TC', 'Program_S202', 'Program_S236',
       'Program_S236 AR', 'Program_S236 OTH OV', 'Program_S236 TC',
       'Program_S236 TC OTH OV', 'Program_S8', 'Program_S8  S236 TC',
       'Program_S8 AR', 'Program_S8 HIF', 'Program_S8 OTH OV',
       'Program_S8 PH TC', 'Program_S8 S202', 'Program_S8 S202 AR',
       'Program_S8 S202 TC', 'Program_S8 TC', 'Program_S8 TC AR',
       'Program_S8 TC HIF', 'Program_S8 TC HOME', 'Program_S8 TC OTH OV HOME',
       'Program_TC', 'Program_TC AR', 'Program_TC HIF', 'Program_TC HOME',
       'Program_TC OTH OV', 'Program_TC OTH OV AR', 'Amenities_Y',
       'LaundryInc_Y', 'UtilitiesI_Y', 'Police_DIST_Five', 'Police_DIST_Four',
       'Police_DIST_One', 'Police_DIST_Six', 'Police_DIST_Three',
       'Police_DIST_Two'],
      dtype='object')

In [315]:
data = pd.concat([units, data_dummies], axis = 1, ignore_index = False)

In [316]:
data.head()

,LicenseNum,UnitNumber,Bedrooms,CurrentRen,Vacant,FacilityId,StructureT,Age,Program,Amenities,...,Program_TC OTH OV AR,Amenities_Y,LaundryInc_Y,UtilitiesI_Y,Police_DIST_Five,Police_DIST_Four,Police_DIST_One,Police_DIST_Six,Police_DIST_Three,Police_DIST_Two
0,17517,6366,Two,1950,N,459,G,83,NON,N,...,0,0,1,0,0,0,0,0,0,1
1,17517,6368,Two,1975,N,459,G,83,NON,N,...,0,0,1,0,0,0,0,0,0,1
2,17517,6370,Two,2025,N,459,G,83,NON,N,...,0,0,1,0,0,0,0,0,0,1
3,18225,6301-01,One,1191,Y,460,G,60,HIF,Y,...,0,1,1,1,0,0,0,0,0,1
4,18225,6301-02,Two,1412,Y,460,G,60,HIF,Y,...,0,1,1,1,0,0,0,0,0,1

In [322]:
data.shape

(122926, 77)

In [317]:
data = data.drop('Bedrooms', 1)

In [318]:
data = data.drop(['Vacant','StructureT','Program','Amenities','LaundryInc'], 1)

In [324]:
data = data.drop('UtilitiesI', 1)

In [321]:
data = data.drop('Police_DIST', 1)

In [325]:
data.columns

Index(['LicenseNum', 'UnitNumber', 'CurrentRen', 'FacilityId', 'Age',
       'X_Coordina', 'Y_Coordina', 'old_metro_', 'new_metro_', 'hos_dis',
       'shop_dis', 'bus_dis', 'Bedrooms_One', 'Bedrooms_Other',
       'Bedrooms_Three', 'Bedrooms_Two', 'Bedrooms_Zero', 'Vacant_Y',
       'StructureT_H', 'StructureT_M', 'StructureT_T', 'StructureT_X',
       'Program_AR HOME', 'Program_BM', 'Program_HIF', 'Program_HOME',
       'Program_MPDU', 'Program_MPDU OTH OV', 'Program_MPDU S8',
       'Program_MPDU TC', 'Program_MPDU TC AR HOME', 'Program_MPDU TC OTH OV',
       'Program_MPDU TC OTH OV AR', 'Program_MPDU TC WF', 'Program_MPDU WF',
       'Program_NON', 'Program_OTH OV', 'Program_OTH OV HIF',
       'Program_OTH OV HOME', 'Program_PH', 'Program_PH TC', 'Program_S202',
       'Program_S236', 'Program_S236 AR', 'Program_S236 OTH OV',
       'Program_S236 TC', 'Program_S236 TC OTH OV', 'Program_S8',
       'Program_S8  S236 TC', 'Program_S8 AR', 'Program_S8 HIF',
       'Program_S8 OTH OV', 'Program_S8 PH TC', 'Program_S8 S202',
       'Program_S8 S202 AR', 'Program_S8 S202 TC', 'Program_S8 TC',
       'Program_S8 TC AR', 'Program_S8 TC HIF', 'Program_S8 TC HOME',
       'Program_S8 TC OTH OV HOME', 'Program_TC', 'Program_TC AR',
       'Program_TC HIF', 'Program_TC HOME', 'Program_TC OTH OV',
       'Program_TC OTH OV AR', 'Amenities_Y', 'LaundryInc_Y', 'UtilitiesI_Y',
       'Police_DIST_Five', 'Police_DIST_Four', 'Police_DIST_One',
       'Police_DIST_Six', 'Police_DIST_Three', 'Police_DIST_Two'],
      dtype='object')

In [327]:
data.set_index('LicenseNum', inplace=True)

In [329]:
data = data.drop(['UnitNumber','FacilityId','X_Coordina','Y_Coordina'], 1)

In [331]:
data.columns

Index(['CurrentRen', 'Age', 'old_metro_', 'new_metro_', 'hos_dis', 'shop_dis',
       'bus_dis', 'Bedrooms_One', 'Bedrooms_Other', 'Bedrooms_Three',
       'Bedrooms_Two', 'Bedrooms_Zero', 'Vacant_Y', 'StructureT_H',
       'StructureT_M', 'StructureT_T', 'StructureT_X', 'Program_AR HOME',
       'Program_BM', 'Program_HIF', 'Program_HOME', 'Program_MPDU',
       'Program_MPDU OTH OV', 'Program_MPDU S8', 'Program_MPDU TC',
       'Program_MPDU TC AR HOME', 'Program_MPDU TC OTH OV',
       'Program_MPDU TC OTH OV AR', 'Program_MPDU TC WF', 'Program_MPDU WF',
       'Program_NON', 'Program_OTH OV', 'Program_OTH OV HIF',
       'Program_OTH OV HOME', 'Program_PH', 'Program_PH TC', 'Program_S202',
       'Program_S236', 'Program_S236 AR', 'Program_S236 OTH OV',
       'Program_S236 TC', 'Program_S236 TC OTH OV', 'Program_S8',
       'Program_S8  S236 TC', 'Program_S8 AR', 'Program_S8 HIF',
       'Program_S8 OTH OV', 'Program_S8 PH TC', 'Program_S8 S202',
       'Program_S8 S202 AR', 'Program_S8 S202 TC', 'Program_S8 TC',
       'Program_S8 TC AR', 'Program_S8 TC HIF', 'Program_S8 TC HOME',
       'Program_S8 TC OTH OV HOME', 'Program_TC', 'Program_TC AR',
       'Program_TC HIF', 'Program_TC HOME', 'Program_TC OTH OV',
       'Program_TC OTH OV AR', 'Amenities_Y', 'LaundryInc_Y', 'UtilitiesI_Y',
       'Police_DIST_Five', 'Police_DIST_Four', 'Police_DIST_One',
       'Police_DIST_Six', 'Police_DIST_Three', 'Police_DIST_Two'],
      dtype='object')

In [339]:
data['old_metro_']=pd.Series(data['old_metro_']).convert_objects(convert_numeric=True)

C:\Users\pengq\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [340]:
data['hos_dis']=pd.Series(data['hos_dis']).convert_objects(convert_numeric=True)

C:\Users\pengq\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [341]:
data['bus_dis']=pd.Series(data['bus_dis']).convert_objects(convert_numeric=True)

C:\Users\pengq\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [355]:
data['CurrentRen']=pd.Series(data['CurrentRen']).convert_objects(convert_numeric=True)

C:\Users\pengq\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [356]:
data.dtypes

CurrentRen                   float64
Age                            int64
old_metro_                   float64
new_metro_                   float64
hos_dis                      float64
shop_dis                     float64
bus_dis                      float64
Bedrooms_One                   uint8
Bedrooms_Other                 uint8
Bedrooms_Three                 uint8
Bedrooms_Two                   uint8
Bedrooms_Zero                  uint8
Vacant_Y                       uint8
StructureT_H                   uint8
StructureT_M                   uint8
StructureT_T                   uint8
StructureT_X                   uint8
Program_AR HOME                uint8
Program_BM                     uint8
Program_HIF                    uint8
Program_HOME                   uint8
Program_MPDU                   uint8
Program_MPDU OTH OV            uint8
Program_MPDU S8                uint8
Program_MPDU TC                uint8
Program_MPDU TC AR HOME        uint8
Program_MPDU TC OTH OV         uint8
Program_MPDU TC OTH OV AR      uint8
Program_MPDU TC WF             uint8
Program_MPDU WF                uint8
                              ...
Program_S236 TC OTH OV         uint8
Program_S8                     uint8
Program_S8  S236 TC            uint8
Program_S8 AR                  uint8
Program_S8 HIF                 uint8
Program_S8 OTH OV              uint8
Program_S8 PH TC               uint8
Program_S8 S202                uint8
Program_S8 S202 AR             uint8
Program_S8 S202 TC             uint8
Program_S8 TC                  uint8
Program_S8 TC AR               uint8
Program_S8 TC HIF              uint8
Program_S8 TC HOME             uint8
Program_S8 TC OTH OV HOME      uint8
Program_TC                     uint8
Program_TC AR                  uint8
Program_TC HIF                 uint8
Program_TC HOME                uint8
Program_TC OTH OV              uint8
Program_TC OTH OV AR           uint8
Amenities_Y                    uint8
LaundryInc_Y                   uint8
UtilitiesI_Y                   uint8
Police_DIST_Five               uint8
Police_DIST_Four               uint8
Police_DIST_One                uint8
Police_DIST_Six                uint8
Police_DIST_Three              uint8
Police_DIST_Two                uint8
Length: 71, dtype: object

In [357]:
data.isnull().sum()

CurrentRen                   1
Age                          0
old_metro_                   0
new_metro_                   0
hos_dis                      0
shop_dis                     0
bus_dis                      0
Bedrooms_One                 0
Bedrooms_Other               0
Bedrooms_Three               0
Bedrooms_Two                 0
Bedrooms_Zero                0
Vacant_Y                     0
StructureT_H                 0
StructureT_M                 0
StructureT_T                 0
StructureT_X                 0
Program_AR HOME              0
Program_BM                   0
Program_HIF                  0
Program_HOME                 0
Program_MPDU                 0
Program_MPDU OTH OV          0
Program_MPDU S8              0
Program_MPDU TC              0
Program_MPDU TC AR HOME      0
Program_MPDU TC OTH OV       0
Program_MPDU TC OTH OV AR    0
Program_MPDU TC WF           0
Program_MPDU WF              0
                            ..
Program_S236 TC OTH OV       0
Program_S8                   0
Program_S8  S236 TC          0
Program_S8 AR                0
Program_S8 HIF               0
Program_S8 OTH OV            0
Program_S8 PH TC             0
Program_S8 S202              0
Program_S8 S202 AR           0
Program_S8 S202 TC           0
Program_S8 TC                0
Program_S8 TC AR             0
Program_S8 TC HIF            0
Program_S8 TC HOME           0
Program_S8 TC OTH OV HOME    0
Program_TC                   0
Program_TC AR                0
Program_TC HIF               0
Program_TC HOME              0
Program_TC OTH OV            0
Program_TC OTH OV AR         0
Amenities_Y                  0
LaundryInc_Y                 0
UtilitiesI_Y                 0
Police_DIST_Five             0
Police_DIST_Four             0
Police_DIST_One              0
Police_DIST_Six              0
Police_DIST_Three            0
Police_DIST_Two              0
Length: 71, dtype: int64

In [358]:
data=data.dropna(axis=0, how='any')

In [359]:
X_train_test=data.drop(['new_metro_','CurrentRen'], 1)

In [360]:
Y_train_test=data['CurrentRen']

In [361]:
X_train_test.head()

,Age,old_metro_,hos_dis,shop_dis,bus_dis,Bedrooms_One,Bedrooms_Other,Bedrooms_Three,Bedrooms_Two,Bedrooms_Zero,...,Program_TC OTH OV AR,Amenities_Y,LaundryInc_Y,UtilitiesI_Y,Police_DIST_Five,Police_DIST_Four,Police_DIST_One,Police_DIST_Six,Police_DIST_Three,Police_DIST_Two
LicenseNum,,,,,,,,,,,,,,,,,,,,,
17517,83,4783.805140,1558.549257,1140.748014,1558.549257,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
17517,83,4783.805140,1558.549257,1140.748014,1558.549257,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
17517,83,4783.805140,1558.549257,1140.748014,1558.549257,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
18225,60,4238.007154,1418.945878,690.244207,1418.945878,1,0,0,0,0,...,0,1,1,1,0,0,0,0,0,1
18225,60,4238.007154,1418.945878,690.244207,1418.945878,0,0,0,1,0,...,0,1,1,1,0,0,0,0,0,1

In [362]:
Y_train_test.head()

LicenseNum
17517    1950.0
17517    1975.0
17517    2025.0
18225    1191.0
18225    1412.0
Name: CurrentRen, dtype: float64

In [363]:
X_predict=data.drop(['old_metro_','CurrentRen'], 1)

In [364]:
X_train_test.to_csv("X_train_test.csv")
Y_train_test.to_csv("Y_train_test.csv")
X_predict.to_csv("X_predict.csv")